<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head.ejs') %>
    <title>Home</title>
</head>
<body>
    <header class="header--principal">
        <%- include('partials/header.ejs') %>
    </header>
    <section class="section--principal">
        <nav>
            <%- include('partials/nav.ejs') %> 
        </nav>
        <article>
            <h1>Posts</h1>
            <div class="posts">
                <% posts.forEach(item => { %>
                 <div class="post">
                     <h3><%- item.title %> </h3>
                     <p>
                         <%- item.text %> 
                     </p>
                    <% if (item.stars) { %>
                        <% for(let index = 0; index <item.stars; index++){%>
                            <img src="https://w7.pngwing.com/pngs/759/561/png-transparent-star-icon-collection-star-five-pointed-star-favorite-logo.png" alt="Estrela" width="20px">
                        <% } %>
                    <% } %>
                 </div>
                <% }) %>
            </div>
        </article>
    </section>

    <footer class="footer--principal">
        <%- include('partials/footer.ejs') %>
    </footer>


    <%- include('partials/srcjs.ejs') %>
</body>
</html>