<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head.ejs') %>
    <title>Home</title>
</head>
<body>
    <header class="header--principal">
        <%- include('partials/header.ejs') %>
    </header>
    <section class="section--principal">
        <nav>
            <%- include('partials/nav.ejs') %> 
        </nav>
        <article>
            <h2>Produtos</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x-4z_u8LcGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil, reprehenderit inventore praesentium sit aut consectetur quisquam maxime quasi, deleniti, sapiente eius reiciendis voluptate dignissimos voluptatum nesciunt molestias veritatis tenetur!
            </p>
        </article>
    </section>

    <footer class="footer--principal">
        <%- include('partials/footer.ejs') %>
    </footer>


    <%- include('partials/srcjs.ejs') %>
</body>
</html>