<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <%-include('partials/head.ejs') %> 
</head>
<body>
    <%= title %> 
    <%-include('partials/nav.ejs') %> 

    <hr>
    <ul>
        <% users.forEach(element => { %>
            <li>
                <%= element.name %> 
                <a href="/edit?id=<%= element._id %>">[editar]</a>
            </li>
            <% }) %>
    </ul>

    <%-include('partials/foot.ejs') %> 
</body>
</html>